body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	background: #f2f5f7;
	color: #3c444b;
	margin: 0;
	line-height: 1.42857143;
}

.container {
	margin: 15px auto;
	width: 800px;
}

.logo {
	background: url("ispconfig.png") no-repeat;
	width: 220px;
	height: 78px;
	float: left;
}

.pages {
	float: left;
	width: 580px;
	height: 78px;
	text-align: right;
}

.pages ul {
	padding-top: 5px;
	float: right;
}

.pages ul li {
	list-style: none;
	display: inline;
}

.pages ul li a {
	text-decoration: none;
	color: #333;
	border: 1px solid #ccc;
	border-right-width: 0;
	background: linear-gradient(to bottom, #fff, #eef0f2);
	padding: 5px 12px;
	margin-left: 0;
	float: left;
}

.pages ul li:first-child a {
	border-radius: 4px 0 0 4px;
}

.pages ul li:last-child a {
	border-radius: 0 4px 4px 0;
	border-right-width: 1px;
}

.pages ul li a:hover,
.pages ul li a:focus,
.pages ul li.active a {
	background: linear-gradient(to bottom, #fafafa, #e8ebee);
	border-bottom-color: #adadad;
	color: #c70f19;
	transition: all ease 500ms;
}

.pages ul li a:focus,
.pages ul li.active a {
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	border-color: #adadad;
}

.response {
	float: left;
	padding: 12px;
	width: 774px;
	border: 1px solid #d3d7da;
	background: #fff;
	border-radius: 4px;
}

.response h2 {
	margin: 0;
}

.response pre {
	font-family: 'Source Code Pro', monospace;
	font-size: 12px;
	color: #222;
	margin: 25px 0 25px 10px;
	overflow: auto;
}

.bottom {
	float: left;
	width: 100%;
	text-align: right;
	margin: 18px 0 50px 0;
}

.bottom a {
	text-decoration: none;
	color: #3c444b;
}

.bottom a:hover {
	color: #c70f19;
}
